<app-toolbar></app-toolbar>

<mat-card>

  <div>
    <h1>Time Input</h1>
    <mat-form-field>
    <input matInput [(ngModel)]="this.inputTime" autocomplete="off" placeholder="00:00">
    </mat-form-field>
  </div>

  <div>
    <h1>Initial Time Zone</h1>
    <mat-form-field appearance="fill">
      <mat-label>Select Time Zone</mat-label>
      <mat-select [(ngModel)]="this.initTime">
        <mat-option *ngFor="let zone of zones" [value]="zone">
          {{zone}}
        </mat-option>
        
      </mat-select>
    </mat-form-field>
  </div>

    <div>
    <h1>Desired Time Zone</h1>
    <mat-form-field appearance="fill">
      <mat-label>Select Time Zone</mat-label>
      <mat-select [(ngModel)]="this.desTime">
        <mat-option *ngFor="let zone of zones" [value]="zone">
          {{zone}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
  <button mat-raised-button color="primary"
  (click)="convert()"
  >
    Get Time
  </button>
  </div>
  
</mat-card>